.header{
    background: #fff;    
    @include box-shadow(0 1px 3px 0 rgba(#000, .2));
    @extend %clearfix;
    @include fira(bold);
    margin-bottom: 30px;
    padding: 10px;
}
.header__left, .header__right{
    float: left;
    width: 50%;
    min-height: 60px;
}
.header__right{
    text-align: right;
}
.contacts{
    @extend %clearfix; 
    margin: 12px auto;    
    &:hover{
         .contacts__dropdown-items{
            opacity: 1;
            transition: opacity .5s
        }
        .contacts__link{
            background: url('../img/decor/dot_hover.png') 0 bottom repeat-x; 
        color: $red;
        }
}
}
.triangle{
    position: absolute;
    background: #fff;
    top: -9px;
    right: 50%;
    margin-right: -8px;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #5a5a5a;
    border-right: 1px solid #5a5a5a;
    transform: rotate(225deg);
}
.contacts__dropdown{
    position: relative;
}
.contacts__link{
    color: $blue;
    @include fira(bold);
    text-decoration: none;
    font-size: 18px;
    background: url('../img/decor/dot.png') 0 bottom repeat-x;
    }
        
    
.contacts__dropdown-items{
    position: absolute; 
    display: block;
    top: 40px;
    right: -65px;
    border: 1px solid #5a5a5a;
    border-radius: 12px;
    background: #fff;
    opacity: 0;
        
        &:before{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 25px;
            top: -23px;
            }
}
.contacts__dropdown-item{
    padding: 12px;
    @include fira(light);
    font-size: 18px;
    border-bottom: 1px solid #5a5a5a;
    text-align: left;
    vertical-align: middle;
    & .fa{
        color: $blue;
    }
   
}
.user__avatar {
   @include inlineblock(middle);
    width: 60px;
    height: 60px;
}

.user__name{
    @include inlineblock(middle);
    font-size: 18px;
    margin-left: 20px;
    color: $black;
    @include fira(bold);
    transition: 0.2s all;
    &:hover{
        color: $blue;
    }
    }


